.card-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 0 0 10rem;
  font-family: "Spoof", sans-serif;
}

.card-container > .card {
  display: flex;
  justify-content: center;
  gap: 7rem;
}