.footer-container {
  background-color: #FFFEF5;
}

.footer {
  font-family: "Spoof", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  /* padding: 7rem 5rem; */
  padding: 5rem 0;
  /* max-width: 1800px; */
  /* margin: 0 auto; */
  font-size: 1rem;
  color: #10162B;
}

.footer > .footer-nav {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
}

.footer > .footer-nav > ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* gap: 2rem; */
  /* width: 100%; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer > .footer-nav > ul > li > a > img {
  width: 10rem;
  padding: 0 1rem;
}

.footer > .footer-nav > ul > li > a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.footer > .footer-nav > ul > li > a.footer-img {
  padding: 0;
}

.footer > .footer-nav > ul > li a {
  color: #10162B;
  text-decoration: none;
  transition: 0.5s;
}

.footer > .footer-nav > ul > li a:hover {
  color: #c3c3c3;
}

.footer > .footer-nav > ul > li.address {
  padding: 0.5rem 1rem;
  font-style: normal;
}

.footer > .footer-nav > ul > li.address > address {
  padding-left: 1rem;
  font-style: normal;
  line-height: 1.7;
}

.footer > .footer-nav-2 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  /* justify-content: center; */
  text-align: center;
}

.footer > .footer-nav-2 a {
  color: #10162B;
  text-decoration: none;
  transition: 0.5s;
}

.footer > .footer-nav-2 .empty {
  border: 2px solid #e5e5e5;
}

.footer > .footer-nav-2 > li a:hover {
  color: #c3c3c3;
}
