* {
  margin: 0;
  padding: 0;
  color: #10162B;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-family: "Spoof", sans-serif;
  max-width: fit-content;
  padding: 4rem 1rem;
}

.form-hero {
  background-color: #10162B;
  font-family: "Spoof", sans-serif;
}

.hero > .text-box {
  max-width: 700px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.form-hero > .form-text-box {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: 0 auto;
  gap: 4rem;
  max-width: 1200px;
}

.hero > .text-box > small {
  color: #FBBF19;
  font-size: 0.875rem;
  font-weight: 500;
}

.hero > .text-box > h1 {
  font-size: 2.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-hero > .form-text-box > h1 {
  color: #fffffd;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
}

.hero > .text-box > p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.form-hero > .form-text-box > p {
  color: #fffffd;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 300;
}

.form-hero > .form-text-box > a {
  display: inline-block;
  margin: 0 auto;
}

.form-hero > .form-text-box > a > .cta {
  background-color: #10162B;
  border: none;
  width: 3rem;
  transition: 0.5s;
}

.form-hero > .form-text-box > a > .cta:hover {
  width: 5rem;
}

.hero > .text-box .cta {
  width: fit-content;
  background-color: #10162B;
  color: #fff;
  font-family: "Spoof", sans-serif;
  border: 2px solid #10162B;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: 0.5s;
}

.hero > .text-box .cta:hover {
  background-color: #fffffd;
  color: #10162B;
}

.hero > .hero-img {
  display: none;
}


@media only screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1090px) {
  .hero {
    width: fit-content;
    max-width: 1800px;
    margin: 0 auto;
  }

  .hero > .text-box {
    width: 50%;
    max-width: 36.125rem;
    max-width: 36.125rem;
  }

  .hero > .hero-img {
    border: 5px solid #FFF3D1;
    display: flex;
    align-self: flex-start;
    border-radius: 10px;
    transition: border 0.5s;
  }
  
  .hero > .hero-img > img {
    border-radius: 5px;
    width: 100%;
    align-self: flex-start;
  }
  
  .hero > .hero-img:hover {
    border-color: #10162B;
  }

  .form-hero > .form-text-box {
    padding: 5rem;
  }
}