.nav,
.form-nav {
  display: flex;
  font-weight: 400;
  font-family: "Spoof", sans-serif;
  max-width: 1800px;
  padding: 2.5rem 5rem;
  margin: 0 auto;
}

.nav > .img-container,
.form-nav > .form-img-container {
  width: 10rem;
  display: flex;
}

.nav > .img-container > a > img,
.form-nav > .form-img-container > a > img {
  width: 10rem;
}

.nav > ul,
.form-nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  gap: 0.5rem;
}

.nav > ul > li,
.form-nav > ul > li {
  align-self: center;
}

.nav > ul > li > a,
.form-nav > ul > li > a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #10162B;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 0.5s;
}

.form-nav > ul > li > a {
  border: 2px solid #10162B;
  color: #fffffd;
}

.nav > ul > li > a:hover {
  border-color: #10162B;
}

.form-nav > ul > li > a:hover {
  border-color: #fffffd;
}

.nav > ul > li > a:active {
  color: #3045A8;
}

.nav > ul > li > a.button-link {
  padding: 0;
}

.nav > ul > li > a.button-link:hover {
  border: 2px solid #fff;
}

.nav > ul > li > a > button {
  border: 2px solid #10162B;
  font-family: 'Spoof', sans-serif;
  padding: 0.55rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #10162B;
  color: #fffffd;
  font-weight: 500;
  transition: 0.5s;
}

.nav > ul > li > a > button:hover {
  border: 2px solid #10162B;
  background-color: #fffffd;
  color: #10162B;
}