.header {
  background-color: #10162B;
  height: 100vh;
}

.hero-only {
  display: flex;
  justify-content: space-around;
  height: calc(100% - 133.483px);
  align-items: center;
  padding: 0 0 5rem 0;
}

.form {
  font-weight: 400;
  font-family: "Spoof", sans-serif;
  max-width: 800px;
  padding: 2.5rem 5rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form > h2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.75rem;
  font-weight: 500;
}

.form label {
  display: flex;
  margin-bottom: 0.5rem;
  margin: 0 0 0.5rem;
  font-size: 1.125rem;
}

.form input,
.form select,
.form textarea {
  display: flex;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid #e9e9e9;
  font-family: "Spoof", sans-serif;
  font-size: 1rem;
}

.form textarea {
  height: 7rem;
  resize: none;
}

.form label[for="about-self"] {
  width: 60%;
  line-height: 1.5;
}

.form input[type="number"] {
  appearance: textfield;
  width: 50%;
}

.form input[type="file"] {
  padding: 1rem;
}

.form input[type="submit"] {
  background-color: #10162B;
  color: #fffffd;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  border: 2px solid #fffffd;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  background-color: #fffffd;
  border-color: #10162B;
  color: #10162B;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-row-item {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}