* {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  gap: 5rem;
  align-content: center;
  max-width: fit-content;
  margin: 0 auto;
}

.hero > .text-box {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.hero > .text-box > small {
  color: #FBBF19;
  font-size: 0.875rem;
  font-weight: 500;
}

.hero > .text-box > h1 {
  font-size: 2.875rem;
  font-weight: 500;
  width: 36.125rem;
  margin-bottom: 0.5rem;
}

.hero > .text-box > p {
  font-size: 1.5rem;
  font-weight: 300;
  width: 32.5rem;
  margin-bottom: 1rem;
}

.hero > .text-box > a > .cta {
  width: 17.4375rem;
  background-color: #10162B;
  color: #fff;
  font-family: "Spoof", sans-serif;
  border: 2px solid #10162B;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: 0.5s;
}

.hero > .text-box > a > .cta:hover {
  border: 2px solid #10162B;
  background-color: #fffffd;
  color: #10162B;
}

.hero > .hero-img {
  margin-left: auto;
  border: 5px solid #FFF3D1;
  display: flex;
  align-self: flex-start;
  border-radius: 10px;
  transition: border 0.5s;
}

.hero > .hero-img > img {
  border-radius: 5px;
  width: 100%;
  align-self: flex-start;
}

.hero > .hero-img:hover {
  border-color: #10162B;
}