.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.nav > img {
  width: 10rem;
}

.nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav > ul > li {
  align-self: center;
}

.nav > ul > li > a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #10162B;
  border: 2px solid #fff;
  border-radius: 10px;
}

.nav > ul > li > a:hover {
  border-color: #10162B;
  transition: 0.5s;
}

.nav > ul > li > a:active {
  color: #3045A8;
}

/* .nav > ul > li > a:hover {} */

.nav > ul > li > button {
  border: 2px solid #fff;
  font-family: 'Spoof', sans-serif;
  padding: 1.2rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #10162B;
  color: #fffffd;
  font-weight: 500;
}

.nav > ul > li > button:hover {
  border: 2px solid #10162B;
  background-color: #fffffd;
  color: #10162B;
  transition: 0.5s;
}