.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.nav > img {
  width: 10rem;
}

.nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav > ul > li {
  align-self: center;
}

.nav > ul > li > a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #10162B;
}

.nav > ul > li > a:active {
  color: #3045A8;
}

.nav > ul > li > a:hover {}

.nav > ul > li > button {
  font-family: 'Montserrat', sans-serif;
  padding: 1.2rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #10162B;
  color: #fff;
  font-weight: 600;
}